*{
    margin: 0; 
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{ background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/ap.png');
     background-size: cover;
    
}
ul{
    float: right;
    list-style-type: none;
    z-index:99;
    position:relative;  
    margin-top: 15px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    border: 1px solid white transparent;
    padding: 5px 20px;
    transition: 0.6s ease;
    font-family: Montserrat;
}
ul li a:hover{
    color: gray;
    background-color: white;
}
.main{
    max-width: 1200px;
    margin: auto;
}
ul li.active a{
    color: gray;
    background-color: white;
}
.buttons1{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: auto auto;   
    height: 400px;
    width: 600px;
}
.btn{ 
    border: 1px solid gray;
    text-decoration: none;
    columns: white;
    padding: 30px;
    color: white;
    text-align: center;
    transition: 0.6s ease;
    font-weight: bolder;
    font-size: 30px;
}
.btn1{ 
    border: 1px solid gray;
    text-decoration: none;
    columns: white;
    padding: 30px;
    color: white;
    text-align: center;
    transition: 0.6s ease;
    font-weight: bolder;
    font-size: 30px;
    width: 220px;
}
.btn:hover{
    color: white;
    background-color: gray;
    cursor: default;
}
.btn1:hover{
    color: white;
    background-color: gray;
    cursor: default;
}